=== Name
Footer HTML

=== Description
Use the <code>footerHTML</code> property on a column to format the footer cell for that column. <code>footerHTML</code> can either be a template string or a function.

=== HTML
<div id="fruits"></div>

=== JS
var fruits = [
  { name: "apple", color: "red", quantity: 11 },
  { name: "banana", color: "yellow", quantity: 10 },
  { name: "orange", color: "orange", quantity: 8 }
];

var columns = [
  { headerHTML: "Name", cellHTML: "{name}" },
  { headerHTML: "Color", cellHTML: "{color}" },
  { headerHTML: "Quantity", cellHTML: "{quantity}" }
];

// TODO: pass in all the data for the table to the footerHTML function?
//       need to come up with the function definition here

var table = new CrazyTable('fruits', {
  columns: columns,
  data: fruits
});