=== Name
Header HTML Function

=== Description
Use the headerHTML property on a column to format the header cell for that column. headerHTML can either be a template string or a function.

=== HTML
<div id="fruits"></div>

=== JS
var fruits = [
  { name: "apple", color: "red", quantity: 11 },
  { name: "banana", color: "yellow", quantity: 10 },
  { name: "orange", color: "orange", quantity: 8 }
];

var columns = [
  { headerHTML: "Name", cellHTML: "{name}" },
  { headerHTML: "Color", cellHTML: "{color}" },
  { headerHTML: "Quantity", cellHTML: "{quantity}" }
];

var table = new CrazyTable('fruits', {
  columns: columns,
  data: fruits
});